# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.LocalHero.iml
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../:\Development\Godot\LocalHeroes\.idea\.idea.LocalHero\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
